
.banner{
    background:  -webkit-linear-gradient(top, rgba(77, 76, 76, 0.561), rgb(0, 0, 0)),url('./imagegit/images/bg-masthead.jpg');

    background-size:cover;
    height:700px;
    background-position: center;
}

nav{

    font-family: 'nunito';
    position: 'fixed';
    font-size: 1rem;
 
}
h1{
    font-family: 'Varela Round';
    background-image:-webkit-linear-gradient(#eee, #333);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    letter-spacing: .8rem;
}

header button{
    background-color:#64a19d!important ;
    color:white !important;
    font-family: 'Varela Round',sans-serif;
}
nav a{
    color: rgba(255,255,255,.5) !important;
    font-family: 'Varela Round';
    font-size: 15px;
}
header h5{
    color:#878787;
}

/* fin header */
.contenu{
    background:  -webkit-linear-gradient(bottom, rgba(77, 76, 76, 0.561), rgb(0, 0, 0));
    color:#7E7E7E;
    text-align: center;
    font-size:1rem;
}
.contenu span{
    color: #64a19d;
}
.contenu h2{
    font-size:30px;
    font-weight: 300;
    color: white;
}
/*fin contenu et debut contenu2*/

.contenue2{
     margin-top:100px; 
    padding-bottom: 10rem;
}

.margin{
    margin-top:50px;
    margin-bottom:50px;
}
.droite{
    border-left: solid 8px #64A19D;
    letter-spacing: .0625em;
    line-height: 1.5;
}
.droite>h3{
    font-size:1.5rem;
    font-weight: 400;
    line-height: 1.2;
}
.droite>p{
    color: rgba(0,0,0,.5)!important;
}
.back{

  background-color: #161616!important;
}

.contenue2 h3{
    color:white !important;
}
.contenue2 p{
    color:grey !important;
}
.tictac{
    background:#64a19d;
    height: 3px;
    
}
/*fin contenue2*/

.contenue3{
    background:  -webkit-linear-gradient(top, rgba(77, 76, 76, 0.561), rgb(0, 0, 0)),url('./imagegit/bg-signup.jpg');

    background-size:cover;
    height:500px;
    background-position: center;
}

.contenue3 h2{
    letter-spacing:0.0625em;
    font-family: inherit;
    font-weight: 400;
    line-height: 1.2;
}
i{
 size:10x;
}
.forme{
    padding-top:10rem;
}
input{
    font-family: 'varela round';
    letter-spacing: .15rem;
    font-size: 80%;
    text-transform: uppercase;
}
.contenue3 button{
    background-color:#64a19d!important ;
    color:white !important;
    font-family: 'Varela Round',sans-serif;
    text-transform: uppercase;
    padding: 1.25rem 2rem;
    font-family: 'Varela Round';
    font-size: 80%;
    letter-spacing: .15rem;
}
/*fin contenue3*/
.contenue4{
    background-color: #161616!important;
    background:  -webkit-linear-gradient(bottom, rgb(23, 22, 22), rgb(0, 0, 0));
    height:500px;

}
.taille{
    width:75px;
  background-color: #64a19d!important;
   height:3px;
}
.couleur{
    color: #64a19d!important;
}
.lol{
    font-family: 'Varela Round';
    font-size:15px;
}
.fond{
    background-color:#2E2E2E;
    border-radius: 100px !important;
    width:3rem ;
    height:3rem;
}
.card{
    border-bottom: 4px solid #64a19d!important;
}
 a>i{
   color: #979797!important;
  
}

.small{
    color:#737373;
}